body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    width: 400px;
}

.form-container {
    padding: 20px;
    border-radius: 10px;

}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}
