/* variables */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    --navbar-bg-color: rgba(255, 255, 255, 1);
    --navbar-height: 60px;
    --navbar-padding: 10px 20px;
    --logo-height: 50px;
    --profile-icon-height: 40px;
    --menu-link-color: rgb(0, 0, 0);
    --menu-link-margin: 0 20px;
    --button-border-radius: 20px;
    --button-font-size: 16px;
    --button-padding: 10px;
    --green-button-bg-color: rgb(65, 105, 225); 
    --blue-button-bg-color: grey;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--navbar-padding);
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
}

.logo {
    height: var(--logo-height);
    display: block; 
    margin-bottom: -8px;
    object-fit: contain;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    font-size: large;
    font-weight: 700; 
    color: var(--menu-link-color);
    text-decoration: none;
    margin: var(--menu-link-margin);
}

.profile-icon {
    height: var(--profile-icon-height); 
    border-radius: 50%; 
}

.container {
    padding: 20px;
}

.container h1
{
    
    text-align: center;
    color: #000000;
}

.container h2 {
    color: #3576ca;
}


.container p, .container ul {
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

.enter-icon {
    height: 16px; 
    vertical-align: middle;
    margin-left: 5px; 
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.green-button {
    padding: 15px 20px;
    font-size: 25px;
    color: #000000;
    background-color: rgb(40, 124, 65);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.green-button:hover {
    background-color: #555;
}

* {
    box-sizing: border-box;
}
