html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex; /* Используем flexbox для горизонтального расположения блоков */
    height: 100vh; /* Высота контейнера на всю высоту экрана */
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 50%; /* Занимает 50% ширины экрана */
}

.image-container {
    width: 500px;
    flex: 1; /* Занимает оставшееся пространство */
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-image {
    width: 80%; /* Ширина картинки на всю ширину контейнера */
    height: 95vh; /* Высота картинки на всю высоту экрана */
    object-fit: cover; /* Сохранение пропорций картинки */
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

.form-container {
    width: 100%;
    max-width: 400px;
}

h1 {
    margin: 0 0 20px;
    font-size: 32px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group {
    margin-bottom: 10px;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-bottom: 2px solid #333;
}

.signup-button {
    padding: 15px 20px;
    font-size: 25px;
    color: #000000;
    background-color: rgb(40, 124, 65);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: #555;
}

.login-prompt {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
}

.login-prompt a {
    color: #007BFF;
    text-decoration: none;
}

.login-prompt a:hover {
    text-decoration: underline;
}
