.footer {
    background-color: #f8f9fa; /* Светлый фон */
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.footer-content p {
    margin: 5px 0; /* Отступы между строками */
    font-size: 16px;
    color: #333; /* Цвет текста */
}
